/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  h5 {
      font-size: 17px;;
  }
}

p {
  color: white;
}

h5 {
  font-weight: 400;
}


body {
  background-image: url("prism.png");
  border-top: 2px solid red;
  color: white;
  font-family: 'Roboto', sans-serif;
}



.title {
  font-family: 'Major Mono Display', monospace;
  color: white;
  padding-top: 2rem;
}

/* Small devices (portrait phones, 576px and below) */
@media (max-width: 576px) {
  .title {
      font-size: 2.9rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .title {
      font-size: 4rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .title {
      font-size: 6rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .title {
      font-size: 8rem;
  }
}

.podcast-link {
  font-size: 2rem;
  color: white;
}

.apple-color {
  color: #D56DFB;
}
.spotify-color {
  color: #1DB954;
}

.soundcloud-color{
  color: #ff9940;
}
.twitter-color {
  color: #38A1F3;
}

.jumbotron {
  height: 500px;
}


img {
  max-width: 45%;
  max-height: 45%;
  border: 3px solid white;
}

.bio {
  text-align: justify;
}

.footer {
  background: rgba(0, 0, 0, 0.112);
  border-bottom: 5px solid red;
}