/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  h5 {
      font-size: 17px;;
  }
}

p {
  color: white;
}

h5 {
  font-weight: 400;
}


body {
  border-top: 20px solid #FCF0C4;
  
  color: rgb(79, 46, 28);
  font-family: 'Hind', sans-serif;
}

.title-container {
  background-color: #AECBE6;
}

.title {
  color: rgb(194, 152, 93);
  padding-top: 2rem;
}


.title-small {
  font-size: 6rem;
  letter-spacing: -2px;
}

#immaculate {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 10rem;
  padding-bottom: 100px;
}

/* Small devices (portrait phones, 576px and below) */
@media (max-width: 576px) {
  .title {
    text-shadow: -1px 1px .1px #683D25;
  }
  .title-small {
      font-size: .95em;
  }

  #immaculate {
    font-size: 1.35em;
  }
  .sub-title {
    font-size: 1.05em;
  }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .title {
    text-shadow: -1px 2px  #683D25;
  }
  .title-small {
      font-size: 1.2em;
  }

  #immaculate {
    font-size: 2em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .title {
    text-shadow: -2px 2px .5px #683D25;
  }
  .title-small {
      font-size: 4rem;
  }

  #immaculate {
    font-size: 2.7em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .title {
    text-shadow: -2px 2px .5px #683D25;
  }
  .title-small {
      font-size: 6rem;
  }

  #immaculate {
    font-size: 10rem;
  }

  .sub-title {
    font-size: 1.5em;
  }
}


.social-link {
  font-size: 1.5em;
  color: #444;
}

.big-podcast-container {
  background-color: white;
}

.mdna-container {
  color: #444;
  background-color: white;
}


.mdna {
  max-width: 100%;
  max-height: 100%;
}

.podcast-buttons {
  max-width: 65%;
  max-height: 65%
}

/* Small devices (portrait phones, 576px and below) */
@media (max-width: 576px) {
  .podcast-buttons {
    max-width: 110%;
    max-height: 110%;
  }
  .logo-container {
    padding-top: 25%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .podcast-buttons {
    max-width: 90%;
    max-height: 90%;
  }
  .logo-container {
    padding-top: 25%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .podcast-buttons {
    max-width: 85%;
    max-height: 85%;
  }
  .logo-container {
    padding-top: 25%;
  }
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .podcast-buttons {
    max-width: 70%;
    max-height: 70%;
  }
  .logo-container {
    padding-top: 25%;
  }
}

.podcast-container {
  background-color: white;
  padding-bottom: 5%;
}

.jumbotron {
  background-color:rgba(7, 4, 4, 0.05);
  padding-top: 2%;
  padding-bottom: 2%;
}


img {
  max-width: 45%;
  max-height: 45%;
  border: 3px solid white;
}

.hosts-container {
  background-color: #AECBE6;
}

.host-name {
  color: rgba(0, 0, 0, 0.783);
}

.bio {
  color: #444;
  text-align: justify;
  font-size: 1.15em;
  padding-left: 3%;
  padding-right: 3%;
}

.footer-social-link {
  font-size: 1.2em;
  color: white;
}

.made-by-bh {
  text-decoration: underline;
  text-decoration-color: #888;
}
.footer {
  background: rgba(0, 0, 0, 0.783);
}